@media screen and (max-width: 600px) {

  /* nav styling  */
  #nav {
    padding: 2vw 1vw;
  }
  .nav-part-1 {
    height: 63px;
    overflow: hidden;
  }
  .nav-part-1 svg {
    height: 64px;
  }
  .nav-part-2 .links a {
    display: none;
  }
  
  /* page 1 styling    */
  #page-1 {
    padding: 35vw 3vw 1vw;
    min-height: 50vh;
  }
  #page-1 h1 {
    font-size: 13vw;
  }
  #video-container {
    height: 40vh;
  }
  #video-container #play {
    position: absolute;
    opacity: 1;
    scale: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* page 2 styling  */
  #page-2 {
    min-height: 100vh;
    width: 100%;
    padding: 4vw 3vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  #page-2 .elem {
    width: 100%;
    height: 70vh;
    overflow: hidden;
  }
  #page-2 .elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.1;
  }
  .page-2-bottom {
    padding: 4vw 1vw;
    flex-direction: column;
  }

  .page-2-bottom-left {
    width: 100%;
  }
  .page-2-bottom-left h2 {
    font-size: 8vw;
    text-align: center;
  }
  .page-2-bottom-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .page-2-bottom-right p {
    margin-top: 5vw;
    text-align: center;
  }
  /* page 3 styling */
  #page-3 .child h2 {
    font-size: 3vw;
  }
  #page-3 .child h3 {
    font-size: 2vw;
  }
  #page-4 {
    padding: 1vw 1vw 3vw;
    min-height: 50vh;
  }
  .items {
    overflow-x: hidden;
  }

  /* page 5 styling  */
  #page-5 {
    min-height: 70vh;
    padding: 4vw 1vw;
    flex-direction: column-reverse;
    justify-content: center;
    overflow-x: hidden;
  }
  .page-5-right {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
  }
  .page-5-right img {
    width: 49%;
    height: 100%;
    object-fit: cover;
  }
  .page-5-left {
    width: 100%;
    margin-right: 0;
    margin-top: 3vw;
  }
  .page-5-left h2 {
    font-size: 8vw;
    font-family: futura;
    margin-bottom: 2vw;
  }
  .page-5-left p {
    font-size: 3vw;
    margin-bottom: 4vw;
  }

  #page-6 {
    width: 100%;
    padding: 4vw 1vw;
  }

  .page-6-bottom-1 h2 {
    font-size: 4vw;
  }
  .page-6-bottom-1 ul li {
    font-size: 3vw;
  }
  .page-6-bottom-3 h2 {
    font-size: 4vw;
  }
  .page-6-bottom-3 ul li {
    font-size: 3vw;
  }
  .page-6-bottom-2 img{
    display: none;
  }
  #page-6>p{
    width: 100%;
    font-size: 3vw;
    text-align: center;
    margin-top: 7vw;
  }
  
}

